
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.Parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #101639;
  min-height: 100vh;
  color: #fff;
}
